body{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200vh;
}

.navbar-brand{
    font-family: 'American Captain';
    font-weight: 400;
    font-size: 56px !important;
    line-height: 56px;
    color: #FFFFFF;
    padding-left: 5%;  
}

.nav-link{
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF !important;
}

.container{
    margin-right: 50px !important;
    margin-top: 100px;
}

.btn{
    color: #FFFFFF !important;
    border: 2px solid white !important;
    padding: 5px 30px !important;
    border-radius: 8px !important;
    font-style: normal;
    font-size: 24px !important;
    margin-right: 50px;
}

div.container div.col div.row h1{
    width: 60%;
    text-align: right;
} 

div.container div.col div.row h3{
    width: 25%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
} 

div.container div.col div.row button{
    padding: 5px 30px;
    width: auto;
    margin-top: 20px;
    margin-right: 0 !important;
}

h1{
    font-family: 'American Captain';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 130px !important;
    color: white;
}

h2{
    font-family: 'SF Pro Display';
    font-weight: 700;
}

h3{
    font-family: 'SF Pro Display' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    color: white;
}

p{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}